/*fonts*/
@font-face{
    font-family:Raleway-Regular;
    src: url(/fonts/Raleway-Regular.ttf);
}

@font-face{
    font-family:Raleway-Regular;
    src: url(/fonts/Raleway-Medium.ttf);
}

@font-face{
    font-family:Raleway-Regular;
    src: url(/fonts/Raleway-Regular.ttf);
}

@font-face{
    font-family:Raleway-Regular;
    src: url(/fonts/Raleway-Regular.ttf);
}